/* CONSTANTS */

@f-r: "RalewayRegular";
@f-b: "RalewayBold";
@f-l: "RalewayLight";
@f-c: "RalewayBlack";

@color: #212573;
@green: #a7c030;

h2 { float: left; width: 100%; margin-bottom: 30px; font-size: 35px; font-family: @f-l; font-weight: normal; text-align: center}

button, input{
    font-family: @f-r;
}

.btn-land{ display: block; margin: 0 auto; box-sizing: border-box; padding:7px 25px; width: auto; outline:none; border:none; border-radius: 25px; border: 1px solid #960000; background: #960000; color: #fff; transition: .3s linear; font-weight: bold; font-size: 11px; 
    &:hover{ background: #fff; color: #960000; }
}

.wrap{float: left; width: 80%; margin-left: 10%; margin-right: 10%; height: auto;}

.modal-back{ position: fixed; top: 0; left: 0; width: 100%; height: 9000px; background: rgba(0,0,0,0.5); z-index: 11; display: none; }

.modal-wrapper{ position: fixed; height: 0; top: 0; left: 0; width: 100%; z-index: 12; }

.modal-close{  position: absolute; height: 40px;  width: 40px; 
    background: url(../img/modal-close.png) center center no-repeat; background-size: cover;
    top: 25px; right: 25px; cursor: pointer;}

.modal .modal-close, .modal-calc .modal-close{  top: 10px;  right: 10px;  height: 30px;   width: 30px; }

.opacity-one{ opacity: 1; }

.modal{  display: block;  margin: 150px auto;  height: auto;  min-height: 200px; max-width: 700px; width: 90%; background: #fff; color: #3b3b3b;
    text-align: center; z-index: 4; padding-top: 20px; padding-bottom: 2px; display: none; position: relative; }

.btns-row{ float: left; width: 100%; margin-top: 25px;}

.modal input { display: inline-block; width: 140px; padding: 10px 25px; margin-right: 20px; margin-left: 20px; height: 12px; outline: none;
    border: none; border: 1px solid #5d4063; background: rgba(0,0,0,0); -webkit-transition: .2s linear; transition: .2s linear; font-size: 12px; font-family: @f-r; 
}

.send-btn{
    display: inline-block;
}

.modal-title{ float: left; width: 100%; text-align: center; margin-top: 20px; font-size: 16px; font-family: @f-r; color: @color;}

.thx{
    display: block; margin: 150px auto; height: auto;
    width: 350px; background: #fff; color: @color;
    -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
    outline: none; border: none; border: 1px solid #5d4063; font-size: 17px; padding-top: 40px;
    padding-bottom: 40px; text-align: center; z-index: 13; display: none;
}
.navigation{
    position: absolute;
    width: 100%;
    
    padding-top: 25px;
    
    top: 15px;
    left: 0%;
    
    background: #fff;
    
    transition: .5s linear;
    
    z-index: 999;
    
    transform: translate3d(0,0,10000px);
    
}
.nav-fix{ position: fixed; top: 0px; left: 0px; }

.nav-border{ padding-bottom: 17px; border-bottom: 1px solid rgba(0,0,0,0.4); }

.nav-logo{
    float: left;width: 50px;height: auto; margin-top: 2px;
    img {display: block; width: inherit;height: auto;}
}
.navigations{
    float: left; margin-left: 30px; margin-right: 30px; width: ~"calc(100% - 300px)"; display: flex; justify-content: space-between;
}

.nav{ font-size: 12px; line-height: 20px; color: #000; font-family: @f-b; transition: .3s linear;
    &:hover{ color: #960000;}
}

.nav-cab{
    float: left;
    width: auto;
    img{ float: left; width: 20px; height: auto;}
    p{ float: left; margin-left: 15px;  font-size: 12px; line-height: 20px; color: #000; font-family: @f-b;}
}

.nav-inst{
    float: right;
    width: auto;
    img{ float: left; width: 18px; height: auto;}
}

.header-content{
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    top: 180px;
    left: 0%;
    
    background: rgba(0,0,0,0);
    
    z-index: 998;
    
    transform: translate3d(0,0,99999px);
    
    h1{ float: left; width: 100%; margin-top: 20px; text-align: center; font-size: 25px; font-family: @f-l;}
    h3{ float: left; width: 100%; margin-top: 250px; margin-bottom: 40px; text-align: center; font-size: 18px; font-family: @f-b; font-weight: normal; color: #fff; text-shadow: 0 0 5px rgba(0,0,0,1); }
}

.hc-logo-wrap{ float: left; width: 100%; text-align: center; }

.hc-logos{ display: inline-block; width: auto; position: relative; }

.hc-logo{ width: 300px; height: auto; 
    img{width: inherit; height: auto;}
}
.hc-1{ position: absolute; width: 110px; height: auto; top: 2px; right: -130px; 
    img{width: 100%; height: auto;}
}

.header-parallax{
    float: left;
    width: 100%;
    height: 1100px;
    
    position: relative;
}
.header-morozov{
    position: absolute; width: 100%; height: 80%; top: 20%!important; left: 0%!important;
    
    img{ width: inherit; height: auto; }
}
.header-before{
    position: absolute; width: 200px; height: auto; top: 300px!important; left: 10%!important;
    
    img{ width: inherit; height: auto; }
}
.header-after{
    position: absolute; width: 200px; height: auto; top: 300px!important; 
    //left: ~"calc(100% - 300px)"!important;
    right: 10%!important;
    left: auto!important;
    
    img{ width: inherit; height: auto; }
}

.section-about{ float: left; width: 100%; margin-top: 60px; }

.la-img{ float: left; width: 50%; 
    img{ width: 80%; }      
}

.la-texts{ float: left; width: 50%; 
    h3 { float: left; width: 100%; margin-bottom: 30px; font-size: 35px; font-family: @f-l; font-weight: normal; }
}

.la-row{ float: left; width: 100%; margin-top: 5px; position: relative; 
    .la-point{ position: absolute; top: 7px; left: -14px; height: 6px; width: 6px; border-radius: 50%; background: #960000; }
    h4 { float: left; width: 100%; font-size: 16px; font-family: @f-b; text-transform: uppercase; }
    p { float: left; width: 100%; margin-top: 3px; font-size: 15px; font-family: @f-l; }
}

.section-prizes{ float: left; width: 100%; margin-top: 90px;}

.prize{ float: left; width: 33.33%; text-align: center;
    img{ display: inline-block; height: 250px; width: auto; }
}

.section-who{ float: left; width: 100%; margin-top: 100px; box-sizing: border-box; padding-bottom: 70px; background: url(../img/who-bg.jpg) center center no-repeat; background-size: cover; 
    h2{ margin-top: 30px; }
}

.who-box{ float: left; width: 25%; 
    &-img{ float: left; width: 100%; text-align: center;
        img{ display: inline-block; height: 200px; }
    }
    p{ float: left; width: 100%; margin-top: 10px; text-align: center; font-size: 15px; }
}

.section-morozov{ float: left; width: 100%; margin-top: 60px; }

.sm-img{ float: left; width: 50%; height: auto; padding: 0; box-sizing: border-box; margin: 0;
    img{ display: block; width: 80%; height: auto; }
}
.sm-texts{ float: left; width: 50%; 
    h3 { float: left; width: 100%; margin-top: 40px; font-size: 47px; font-family: @f-l; font-weight: normal;}
    h4 { float: left; width: 100%; margin-top: 30px; margin-bottom: 20px; font-size: 18px; font-family: @f-b;}
    p { float: left; width: 90%; font-size: 15px;}
    h5 { float: left; width: 90%; margin-bottom: 45px; font-size: 15px; margin-top: 5px; font-family: @f-b; font-weight: normal;}
    
    .sm-icon{ float: left; width: 21%; margin-left: 2%; margin-right: 2%;
        &-img{ float: left; width: 100%; text-align: center; margin-bottom: 25px;
            img{ display: inline-block; height: 50px; width: auto; }
        }
        p{ float: left; width: 100%; font-size: 11px; text-align: center; }
        h3{ float: left; width: 100%; margin-top: 3px; margin-bottom: 3px; font-size: 17px; font-family: @f-b; font-weight: normal; text-align: center;}
    }
}

.section-results{ float: left; width: 100%; background: #242b31; box-sizing: border-box; padding-top: 60px; padding-bottom: 60px;
    h2{ color: #fff; font-size: 43px; margin-bottom: 40px; }
}

.sr-boxes{ float: left; width: 100%; }

.sr-box{
    display: inline-block; position: relative; width: 20%; margin-left: 2%; margin-right: 2%; margin-top: 35px; height: auto;
    &:hover .sr-box-hover{opacity: 1;}
    img {display: block; width: 100%; height: auto;}
}
.sr-box-hover{position: absolute; width: 100%; height: 100%; opacity: 0; display: flex; justify-content: center; align-items: center; transition: .4s linear; background: linear-gradient(115deg, rgba(150,19,18,0.9) 10%, rgba(138,6,134,0.9) 70%);}

.btn-instagram{ display: block; padding:8px 15px; outline:none; border:none; border-radius: 25px;  background: #c0c0c0; font-family: @f-b;}

.section-steps{ float: left; width: 100%; box-sizing: border-box; padding-bottom: 70px; padding-top: 30px; background: url(../img/steps-bg.jpg) center center no-repeat; background-size: cover; 
    h2{ margin-top: 30px; }
}

.step-box{ float: left; width: 33%; margin-top: 30px;
    &-img{ float: left; width: 100%; text-align: center;
        img{ display: inline-block; height: 200px; }
    }
    p{ float: left; width: 100%; margin-top: 20px; text-align: center; font-size: 15px; }
}

.steps-btn-row{ float: left; width: 100%; margin-top: 55px; 
}

.section-price{ float: left; width: 100%; box-sizing: border-box; padding-bottom: 70px; padding-top: 60px; background: url(../img/price-bg.png) center center no-repeat; background-size: cover; 
    h2{ margin-top: 30px; }
    h3{ float: left; width: 100%; color: #960000; font-family: @f-c; font-size: 35px; text-align: center;}
    h4{ float: left; width: 100%; margin-top: 20px; margin-bottom: 15px; text-align: center; font-size: 25px; font-weight: normal; }
    p{ float: left; width: 100%; text-align: center; font-size: 14px; }
    h5{ float: left; width: 100%; text-align: center;font-family: @f-b; font-size: 15px; font-weight: normal; }
}

.section-call{ float: left; width: 100%;  box-sizing: border-box; padding-bottom: 70px; padding-top: 60px; 
    h3 { float: left; width: 100%;margin-bottom: 25px; font-family: @f-c; font-size: 17px; text-align: center; text-transform: uppercase }
}
.call-row{ float: left;width: 100%;}
.call-input{ display: block; margin: auto; width: 220px; position: relative;
    input{ box-sizing: border-box; padding: 10px 45px; outline:none; border: none; box-shadow: 0 -1px 1px rgba(0,0,0,.6); border-radius: 25px; width: inherit; font-size: 13px; background: #fff;}
}
.call-svg{ position: absolute; height: 15px; width: auto; top: 9px; left: 14px; 
    img{ height: 15px; width: auto; }
}
.btn-call{ display: block; margin: 8px auto 0; box-sizing: border-box; padding:10px 45px; width: 220px; outline:none; border:none; border-radius: 25px; border: 1px solid #960000; background: #960000; color: #fff; transition: .3s linear; font-weight: bold; font-size: 13px; 
    &:hover{ background: #fff; color: #960000; }
}
.header-content .call-row{ margin-top: 10px; }

.section-partners{ float: left; width: 100%;  box-sizing: border-box; padding-bottom: 100px; padding-top: 60px; 
}
.partners-imgs{ float: left; width: 100%; margin-top: 35px;
    img{ float: left; width: 19%; margin-left: 3%; margin-right: 3%;}
}

.footer{float: left;width: 100%; background: #242b31; box-sizing: border-box; padding-top: 37px; padding-bottom: 40px; 
    .wrap{ width: 70%; margin-left: 15%; margin-right: 15%; }
}

.foot-navigation{ float: left ;width: 100%; margin-bottom: 25px; display: flex; justify-content: space-between;}

.foot{ display: block; color: #67717a; font-family: @f-b; font-size: 12px; transition: .3s linear;
    &:hover{ color: #fff; }
}

.foot-center{
    float: left;width: 100%; border-top: 1px solid #67717a;border-bottom: 1px solid #67717a;box-sizing: border-box;padding: 35px 0;
}

.foot-left { float: left; width: auto;
    img{ float: left; height: 24px; width: auto }
    p{ float: left; margin-left: 25px; line-height: 12px; font-size: 10px; color: #67717a; }
}
.foot-right{ float: right; width: auto; }
.foot-inst{ float: left; width: auto;
    img{ float: left; height: 24px; width: auto;}
    p{ float: left; margin-left: 10px; line-height: 24px; color: #67717a; font-size: 12px; font-family: @f-b;}
}
.foot-cab{ float: left; width: auto; margin-left: 40px;
    img{ float: left; height: 24px; width: auto;} 
    p{ float: left; margin-left: 10px; line-height: 24px; color: #67717a; font-size: 12px; font-family: @f-b;}
}

.after-footer{ float: left; width: 100%; margin-top: 25px; }

.gi-footer{ float: right; width: auto;
    svg{ float: left; height: 25px; margin-top: 3px;  width: auto; }
    p{ float: left; margin-right: 10px; color: #67717a; font-size: 12px;}
}